body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.logout.align-right {
  justify-self: end; 
}

main.container {
  margin-top: 2rem;
}

main.container article {
  border-radius: 20px;
}

#images-display {
  margin-top: 2rem;
  text-align: center;
}

.image-placeholder {
  /*background-color: rgb(42, 18, 63);*/
  width: 100%;
  min-height: 600px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  overflow-y: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: blueviolet !important;
}

.image-container {
  width: calc(50% - 20px);
  margin-bottom: 10px;
  text-align: center;
}

.martin-image {
  width: 80%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.martin-image-vertical {
  width: 60%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .image-container {
    width: 100%;
  }
}

.picture-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  margin-bottom: 1rem;
}

.picture-header h2 {
  margin: 0;
}
